<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Projecten</a>
        <a href="{{ url_for('github_repos') }}">GitHub</a>
        <a href="{{ url_for('configuration') }}">Configuration</a>
        <a href="{{ url_for('onderzoekers') }}">Onderzoekers</a>
        <a href="{{ url_for('overkoepelende_projects') }}">Overkoepelende Projecten</a>
        <a href="{{ url_for('owe') }}">Onderwijs</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
