<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="nav-logo" width="50" height="50">
        </a>
        <div class="nav-links">
            <a href="{{ url_for('projects') }}">Projecten</a>
            <a href="{{ url_for('github_repos') }}">GitHub</a>
            <a href="{{ url_for('configuration') }}">Configuration</a>
            <a href="{{ url_for('onderzoekers') }}">Onderzoekers</a>
            <a href="{{ url_for('overkoepelende_projects') }}">Overkoepelende Projecten</a>
            <a href="{{ url_for('owe') }}">Onderwijs</a>
        </div>
    </nav>
    <div class="red-bar"></div>
    <div class="content">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
