{% extends 'base.html' %}

{% block title %}Create New Project{% endblock %}

{% block content %}
    <h1>Create New Project</h1>
    <form action="{{ url_for('create_project') }}" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="aanleiding">Aanleiding:</label><br>
        <textarea id="aanleiding" name="aanleiding"></textarea><br>
        <label for="doelstelling">Doelstelling:</label><br>
        <textarea id="doelstelling" name="doelstelling"></textarea><br>
        <label for="beoogd_resultaat">Beoogd Resultaat:</label><br>
        <textarea id="beoogd_resultaat" name="beoogd_resultaat"></textarea><br>
        <label for="studentid">Student ID:</label><br>
        <textarea id="studentid" name="studentid"></textarea><br>

        <div>
            <label for="project_image">Project Image:</label>
            <input type="file" id="project_image" name="project_image" accept="image/*">
        </div>

        <!-- Dropdown for Overkoepelende Projects -->
        <label for="overkoepelende_project">Overkoepelende Project:</label><br>
        <select id="overkoepelende_project" name="overkoepelende_project">
            {% for project in overkoepelende_projects %}
                <option value="{{ project.research_project }}">{{ project.research_project }}</option>
            {% endfor %}
        </select><br>

        <!-- Dynamically generate form fields for configurations -->
        {% for config in configurations %}
            {% if config.type == "String" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="text" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Integer" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="number" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Double" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="number" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Boolean" %}
                <input type="checkbox" id="{{ config.name }}" name="{{ config.name }}">
                <label for="{{ config.name }}">{{ config.name }}</label><br>
            {% elif config.type == "Date" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="date" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "ObjectId" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="text" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Array" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <select name="{{ config.name }}">
                    {% for option in config.ArrayContents %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select><br>
            {% elif config.type == "Binary Data" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="file" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Undefined" %}
                <!-- No input required for undefined -->
            {% elif config.type == "Null" %}
                <!-- No input required for null -->
            {% endif %}
        {% endfor %}
        <br>
        <button type="submit">Create</button>
    </form>
{% endblock %}
