{% extends 'base.html' %}

{% block title %}Create Overkoepelende Project{% endblock %}

{% block content %}
    <h1>Create Overkoepelende Project</h1>
    <form action="{{ url_for('create_overkoepelende_project') }}" method="POST">
        <label for="researchproject">Research Project:</label><br>
        <input type="text" id="researchproject" name="researchproject" value="Researchproject"><br>

        <!-- Dynamically generate form fields for configurations -->
        {% for config in configurations %}
            {% if config.type == "String" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="text" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Integer" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="number" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Double" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="number" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Boolean" %}
                <input type="checkbox" id="{{ config.name }}" name="{{ config.name }}">
                <label for="{{ config.name }}">{{ config.name }}</label><br>
            {% elif config.type == "Date" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="date" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "ObjectId" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="text" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Array" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <select name="{{ config.name }}">
                    {% for option in config.ArrayContents %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select><br>
            {% elif config.type == "Binary Data" %}
                <label for="{{ config.name }}">{{ config.name }}:</label><br>
                <input type="file" id="{{ config.name }}" name="{{ config.name }}"><br>
            {% elif config.type == "Undefined" %}
                <!-- No input required for undefined -->
            {% elif config.type == "Null" %}
                <!-- No input required for null -->
            {% endif %}
        {% endfor %}
        <br>
        <button type="submit">Create</button>
    </form>
{% endblock %}
