{% extends 'base.html' %}
{% block content %}
  <h2>Create Project</h2>
  <form method="post">
    {% for column in column_names %}
      {% if column != 'id' %}
        <div class="form-group">
          <label for="{{ column }}">{{ column.capitalize() }}</label>
          <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" required>
        </div>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
