{% extends 'base.html' %}

{% block title %}Edit Onderzoeker{% endblock %}

{% block content %}
    <h1>Edit Onderzoeker</h1>
    <form action="{{ url_for('edit_onderzoeker', id=onderzoeker._id) }}" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ onderzoeker.name }}" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ onderzoeker.email }}" required><br><br>
        
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}