{% extends 'base.html' %}

{% block title %}Edit Project - DI Clutter{% endblock %}

{% block content %}
<body>
    <h1>Edit Project</h1>
    <form method="POST" action="{{ url_for('edit', id=project['id']) }}">
        {% for column in columns %}
            {% if column['name'] != 'id' %}
                <label for="{{ column['name'] }}">{{ column['name'] }}:</label>
                {% if column['type'] == 'TEXT' %}
                    <textarea id="{{ column['name'] }}" name="{{ column['name'] }}">{{ project[column['name']] }}</textarea>
                {% else %}
                    <input type="text" id="{{ column['name'] }}" name="{{ column['name'] }}" value="{{ project[column['name']] }}">
                {% endif %}
            {% endif %}
        {% endfor %}
        <button type="submit">Save Changes</button>
    </form>
    
</body>
{% endblock %}
