{% extends 'base.html' %}
{% block title %}Make Configuration{% endblock %}

{% block content %}
    <h1>Make Configuration</h1>
    <form method="POST" action="{{ url_for('makeconfig') }}">
        <label for="attributename">Attribute Name:</label>
        <input type="text" id="attributename" name="attributename" required><br><br>
        
        <label for="attributetype">Attribute Type:</label>
        <select id="attributetype" name="attributetype" required>
            {% for bson_type in bson_types %}
                <option value="{{ bson_type }}">{{ bson_type }}</option>
            {% endfor %}
        </select> <br> <br>
        
        <input type="checkbox" id="inuse_checkbox" name="inuse" checked> <!-- Checkbox input -->
        <label for="inuse_checkbox">In Gebruik</label>

        
        <br><br>
        
        <button type="submit">Create Configuration</button>
    </form>
{% endblock %}
