{% extends 'base.html' %}

{% block title %}Overkoepelende Projecten{% endblock %}

{% block content %}
    <h1>Overkoepelende Projecten</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column in table_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_rows %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td> <!-- Actions -->
                        <a href="{{ url_for('edit_overkoepelende_project', id=row['_id']) }}"><button>Edit</button></a> |
                        <form action="{{ url_for('delete_overkoepelende_project', id=row['_id']) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('create_overkoepelende_project') }}"><button>Create Overkoepelende Project</button></a> <br><br>
{% endblock %}
